#page-manager-edit .colorbar {
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
}
#page-manager-edit .col-md-14 {
  width: 75%;
  float: left;
}
#page-manager-edit .col-md-7 {
  width: 24%;
  float: right;
}
#page-manager-edit .main-col-footer {
  clear: both;
}
